### Using Natural Language prompts to return SQL commands

In [1]:
import os

In [2]:
import openai

In [37]:
# Set up API key

In [3]:
os.environ["Openai_Api_Key"] = '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'

In [38]:
# Check API key is working

In [4]:
os.getenv("Openai_Api_Key")

'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'

In [5]:
openai.api_key = os.getenv("Openai_Api_Key")

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('sales_data_sample.csv')

In [8]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [9]:
import sqlalchemy

In [10]:
from sqlalchemy import create_engine

In [11]:
from sqlalchemy import text

In [12]:
# Create a temporary DB in my own RAM 

# Push Pandas DB --> into the temporary DB 

# Be able to preform a SQL query on the temporary DB

In [39]:
# Turn the file into an in memory sql database

In [13]:
temp_db = create_engine('sqlite:///:memory:',echo = True)

In [14]:
data = df.to_sql(name= 'Sales',con= temp_db)

2023-08-21 18:30:52,138 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-08-21 18:30:52,140 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-21 18:30:52,140 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-08-21 18:30:52,144 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-21 18:30:52,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-21 18:30:52,148 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2023-08-21 18:30:52,154 INFO sqlalchemy.engine.Engine [no key 0.00222s] ()
2023-08-21 18:30:52,160 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-08-21 18:30:52,160 INFO sqlalchemy.engine.Engine [no key 0.00203s] ()
2023-08-21 18:30:52,160 INFO sqlalchemy.engine.Engine COMMIT
2023-08-21 18:30:52,182 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-21 18:30:52,379 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-08-21 18:30:52,394 INFO sqlalchemy.engine.Engine [generated in 0.18579s] ((0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium'))
2023-08-21 18:30:52,459 INFO sqlalchemy.engine.Engine COMMIT
2023-08-21 18:30:52,459 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-08-21 18:30:52,459 INFO sqlalchemy.engine.Engine [raw sql] ()

In [15]:
with temp_db.connect() as conn:
    # need to make the connection 
    
    # run code indentation/block of code 
    result = conn.execute(text("SELECT SUM(SALES) FROM Sales"))
    # auto close connection

2023-08-21 18:31:00,918 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) FROM Sales
2023-08-21 18:31:00,920 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ()

In [16]:
result.all()

[(10032628.85000001,)]

In [40]:
# create a function to input text from a non-technical user

In [17]:
def create_table_definition(df):
    prompt = """### sqlite SQL table, with its properties:
    #
    # Sales ({})
    #
    """.format(",".join(str(col) for col in df.columns)) 
    
    return prompt

In [18]:
def prompt_input():
    nlp_text = input("Enter the info you want: ")
    return nlp_text

In [20]:
prompt_input() #E.G you want all sales per quarter

Enter the info you want:  Get all sales per quarter

'Get all sales per quarter'

In [21]:
def combine_prompts(df, query_prompt):
    definition = create_table_definition(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition + query_init_string

In [22]:
nlp_text = prompt_input() # NLP, total sales per quarter
combine_prompts (df, nlp_text) # DF + query that does.... + NLP

Enter the info you want:  total sales per quarter

'### sqlite SQL table, with its properties:\n    #\n    # Sales (ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)\n    #\n    ### A query to answer: total sales per quarter\nSELECT'

In [23]:
prompt = combine_prompts(df, nlp_text)

In [24]:
print(prompt)

### sqlite SQL table, with its properties:
    #
    # Sales (ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)
    #
    ### A query to answer: total sales per quarter
SELECT

In [41]:
# pass in the prompt to the openai Completion Create

In [27]:
response = openai.Completion.create(
        model = 'text-davinci-003',
        prompt = combine_prompts(df, nlp_text),
        temperature = 0,
        max_tokens = 150,
        top_p = 1.0,
        frequency_penalty = 0,
        presence_penalty = 0,
        stop = ['#', ';']
)

In [29]:
response['choices'][0]['text']

' QTR_ID, SUM(SALES) AS TOTAL_SALES\nFROM Sales\nGROUP BY QTR_ID'

In [32]:
def handle_response(response):
    query = response['choices'][0]['text']
    if query.startswith(" "):
        query = "SELECT" + query
    return query

In [42]:
# create a handled response to get a cleaned up response, with only the information we need

In [33]:
handle_response(response)

'SELECT QTR_ID, SUM(SALES) AS TOTAL_SALES\nFROM Sales\nGROUP BY QTR_ID'

In [34]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_response(response)))

2023-08-21 18:41:54,219 INFO sqlalchemy.engine.Engine SELECT QTR_ID, SUM(SALES) AS TOTAL_SALES
FROM Sales
GROUP BY QTR_ID
2023-08-21 18:41:54,219 INFO sqlalchemy.engine.Engine [generated in 0.00205s] ()

In [43]:
# run the code to return the results

In [36]:
result.all()

[(1, 2350817.7300000004),
 (2, 2048120.2999999986),
 (3, 1758910.8099999994),
 (4, 3874780.01)]